.SenList {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.Sen {
  width: 20rem;
  text-align: center;
  color: white;
  padding: 0.5rem;
  margin: 0.2rem 0;
}

.Democratic {
  background-color: #2b5cce;
}

.Republican {
  background-color: #b24c63;
}

.Other {
  background-color: #267543;
}
